body {
	background: black;
	color: white;
}

.main {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
}

.navigation {
}

.navigation__link {
	color: white;
	text-decoration: none;
}

.timetable {
	border-collapse: collapse;
}

.timetable__cell {
	padding: 5px;
	text-align: center;
	border: 1px solid;
}

.timetable__link {
	color: white;
	text-decoration: none;
}
